# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

sample/download
sample/upload
sample/cmdlog.log
*.zip
*.jpg
.DS_Store
cmdlog.log
zbox
zboxcli
sample/zbox
sample/zboxcli
vendor
.env
.idea
